* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.nav-container {
  background-color: rgb(21, 21, 20);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: inherit;
  list-style: none;
}

li {
  list-style: none;
}

nav ul li {
  margin-right: 40px;
}

nav ul li a {
  background: #fff;
  padding: 8px;
  border-radius: 6px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  transition: 0.3s;
  background: black;
  color: #fff;
}

.logo {
  width: 100px;
  height: 40px;
  border-radius: 50px;
  background: url('../asset/logo.png') center center/cover no-repeat;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 60px;
  margin: 20px 15px 200px 5px;
}

.main-container-sup {
  width: 270px;
  border: 5px solid rgb(145, 93, 93);
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.new-comment-form button {
  width: 70%;
  align-self: center;
  cursor: pointer;
}

.movie-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.like-movies {
  width: 40px;
  margin-right: 10px;
  transition: 1s;
  margin-bottom: 10px;
}

.like-movies i {
  font-size: 24px;
  margin-top: 10px;
}

.modal-image {

  border-radius: 10px;
  min-width: 17rem;
  height: 17rem;
}

.movie-banner img {
  width: 250px;
  height: 300px;
  border: 3px solid rgb(121, 94, 94);
  border-radius: 15px;
}

.modal-image img {
  width: 130%;
  height: 130%;
  border: 1px solid black;
  border-radius: 10px;
}

.movie-banner img:hover {
  border: 5px solid rgb(227, 30, 30);
}

.details-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-info h2 {
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  margin: 10px 10px;
}

.like-doc {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: -10px;
  margin-bottom: 5px;
  font-size: 16px;
  color: rgb(255, 42, 0);
}

.fa-solid {
  color: red;
}

.comment-rese {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.comment-rese button {
  background: #fff;
  border: 1px solid blue;
  color: blue;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 12px;
  transition: 0.5s;
}

.add-comment button {
  background: #fff;
  padding: 8px 12px;
  border: 1px solid blue;
  width: auto;
  margin: 5px 0 40px 0;
  font-size: 18px;
  border-radius: 15px;
}

.comment-rese button:hover {
  background: blue;
  color: #fff;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(40, 38, 38);
}

.footer p {
  transition: 1s;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: #fff;
}

.footer p:hover {
  font-size: 24px;
}

.modal-wraper {
  display: none;
}

.popup-top-section {
  display: block;
}

.mani-Pop-up {
  position: relative;
  width: 95%;
  border: 5px solid rgb(34, 30, 30);
  margin: 20px auto;
  border-radius: 15px;
  display: grid;
  grid-template-rows: auto;
  background-color: rgb(242, 231, 231);
}

.mclose-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  top: 30px;
  right: 30px;
  border: 1px solid black;
  font-size: 30px;
}

.mclose-btn:hover {
  background-color: black;
  color: #fff;
}

.modal-image {
  max-width: 500px;
  margin: 70px auto;
}

.comment-li {
  margin: 0.6rem 0;
}

.comm-node {
  margin: 5px auto;
  font-size: 16px;
  color: red;
}

.comment-display {
  width: auto;
  background-color: white;
  font-size: 14px;
  margin: 0 auto;
  border: black solid 1px;
}

.comment-display li {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-attributes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.comment-display li:nth-child(even) {
  background-color: rgb(232, 218, 218);
}

.movie-attributes span {
  font-size: 18px;
  font-weight: 800;
  color: rgb(237, 25, 25);
}

.modal-head {
  padding-top: 10px;
  margin: 30px auto;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  line-height: 1.5;
}

.comment-li span {
  display: flex;
  font-size: 1.1rem;
  margin-left: 1.5rem;
}

#comments-section {
  width: 100%;
  display: block;
  background: #fff;
}

.comment-display ul:nth-child(even) {
  border: 1px solid red;
  background: rgb(142, 142, 131);
}

.add-comment {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.add-comment h2 {
  margin: 10px;
  text-align: center;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.new-comment-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.new-comment-form textarea {
  resize: vertical;
  border-radius: 15px;
  padding: 12px;
}

.add-comment input {
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 16px;
}

.comments-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-comment button:hover {
  background-color: blue;
  color: #fff;
}

.hide {
  display: none;
}
